<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>organizationID</key>
	<string></string>
	<key>organizationName</key>
	<string>Library HealthCare</string>
	<key>myChartBrandName</key>
	<string>SwiftChart</string>
	<key>serverURL</key>
	<string></string>
	<key>websiteName</key>
	<string></string>
	<key>SharedKeychainGroup</key>
	<string>group.epic.mychartinternal</string>
	<key>EnableIdleTimer</key>
	<true/>
	<key>menuApplicationKey</key>
	<string></string>
	<key>ArrayOfOptions</key>
	<dict>
		<key>UniversalLinkDomain</key>
		<string>b.hwrld.app</string>
		<key>ShowEpicLogo</key>
		<string>true</string>
		<key>showLanguagePicker</key>
		<string>true</string>
		<key>EnableLogoutButton</key>
		<string>true</string>
		<key>disableSecondaryLogin</key>
		<string>false</string>
		<key>loginbgcolor</key>
		<string>#B2D3FF</string>
		<key>themeColor</key>
		<string>#B2D3FF</string>
		<key>allowedLocales</key>
		<string>ar-AE,da-DK,de-DE,de-CH,en-US,en-AU,en-GB,en-IE,en-SG,es-US,fi-FI,fr-FR,fr-BE,fr-CA,nb-NO,nl-NL,pt,sv-SE,zh-Hans-US</string>
		<key>defaultLocale</key>
		<string>en-US</string>
		<key>serverPrimaryLocale</key>
		<string>en-US</string>
		<key>formatterLocaleOverride</key>
		<string></string>
		<key>iOSCustomLogin</key>
		<string></string>
		<key>SupportsPushNotifications</key>
		<string>true</string>
		<key>SignUpURL</key>
		<string></string>
		<key>PasswordRecoveryURL</key>
		<string></string>
		<key>UsernameRecoveryURL</key>
		<string></string>
		<key>useNewHomepage</key>
		<true/>
		<key>LoadHomepageMenus</key>
		<string>true</string>
		<key>TurnOffOnboardingSecondaryLogin</key>
		<string>false</string>
		<key>TurnOffMobileAppReviewCard</key>
		<string>false</string>
		<key>clearKeychainOnInstall</key>
		<true/>
		<key>disableAppleWatchApp</key>
		<false/>
		<key>supportPhoneNumber</key>
		<string></string>
		<key>supportEmailAddress</key>
		<string></string>
		<key>faqUrl</key>
		<string></string>
		<key>preloginAllowedHosts</key>
		<string></string>
		<key>disableUsernamePasswordLogin</key>
		<string></string>
		<key>UseDynamicPatientAccessList</key>
		<true/>
		<key>SuppressPrintingOnboarding</key>
		<false/>
	</dict>
</dict>
</plist>
