<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>organizationID</key>
	<string>CHN</string>
	<key>organizationName</key>
	<string></string>
	<key>myChartBrandName</key>
	<string>CHN</string>
	<key>serverURL</key>
	<string>https://mycharttst.ecommunity.com/Interconnect-mcmTST/Wcf/Epic.MyChartMobile/MyChartMobile.svc/rest</string>
	<key>websiteName</key>
	<string></string>
	<key>launchScheme</key>
	<string>expo.modules.mychart.example</string>
	<key>SharedKeychainGroup</key>
	<string>group.ecommunity.ecommunitygroup</string>
	<key>EnableIdleTimer</key>
	<true/>
	<key>menuApplicationKey</key>
	<string></string>
	<key>ArrayOfOptions</key>
	<dict>
		<key>ShowEpicLogo</key>
		<string>true</string>
		<key>EnableLogoutButton</key>
		<string>true</string>
		<key>disableSecondaryLogin</key>
		<string>false</string>
		<key>loginbgcolor</key>
		<string>#B2D3FF</string>
		<key>themeColor</key>
		<string>#B2D3FF</string>
		<key>formatterLocale</key>
		<string>en-US</string>
		<key>allowedLanguages</key>
		<string>en,es,fr,nl,de,da,en-GB,en-SA,en-AU,ar</string>
		<key>defaultLanguage</key>
		<string>en</string>
		<key>iOSCustomLogin</key>
		<string></string>
		<key>SupportsPushNotifications</key>
		<string>true</string>
		<key>SignUpURL</key>
		<string></string>
		<key>PasswordRecoveryURL</key>
		<string></string>
		<key>UsernameRecoveryURL</key>
		<string></string>
		<key>useNewHomepage</key>
		<true/>
		<key>LoadHomepageMenus</key>
		<string>true</string>
		<key>TurnOffMobileAppReviewCard</key>
		<string>false</string>
		<key>clearKeychainOnInstall</key>
		<true/>
		<key>disableAppleWatchApp</key>
		<false/>
		<key>supportPhoneNumber</key>
		<string></string>
		<key>supportEmailAddress</key>
		<string></string>
		<key>faqUrl</key>
		<string></string>
		<key>preloginAllowedHosts</key>
		<string></string>
	</dict>
</dict>
</plist>
